.App {
  text-align: center;
}

.app-menu a {
  padding: 10px;
}

.app-content-wrapper {
  display: flex;
  justify-content: center;
}

.app-content {
  max-width: 800px;
}

.product-list {
  text-align: initial;
}